.card {
    background-color: var(--white);
    color: black;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 26.75rem;
}

.project {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}