nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: var(--white);
    color: var(--blue-500);
}

.start {
    display: flex;
    align-items: center;
}

.start img {
    max-width: 2rem;
}

.end {
    display: flex;
    align-items: center;
}

.end a {
    margin: 0 0.75rem;
    text-decoration: none;
    color: var(--blue-500);
}



